* {
    user-select: none;
   -khtml-user-select: none;
   -o-user-select: none;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
}

header{
    display: flex;   
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title{
    display: flex;
    padding: 4vh;
    width: 100%;
    font-size: 42px;
    background-color: #ffecd6;
    justify-content: center;
    text-align: center;
    color: #0d2b45;
    font-weight: bolder;

}

.global-container{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    margin: 0vh;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: #0d2b45;
}

.grid-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2vh;
    align-items: center;
    justify-content: space-around;
    background-color: #203c56;
    border-radius: 1em;
    gap: 10vh;
    height: 40vh;
    width: 10vh;
}

.grid-selection{
    color: #ffecd6;
    display: flex;
    text-align: center;
    width: 8vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.slide-container{
    position: relative;
    bottom: 8vh;
    width: 20vh;
    transform: rotate(270deg);
}

.slider {
    -webkit-appearance: none ;
    appearance: none;
    width: 100%;
    height: 2vh;
    background: #ffecd6;
    outline: none;
    border-radius: 2em;
    box-shadow: 1px 1px 3px black;

  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    background: #ffaa5e;
    cursor: pointer;
    border-radius: 1em;
    -webkit-transition: .2s;
    transition: height .2s;
    transition: width .2s;
  }

  .slider::-webkit-slider-thumb:hover {
    height: 3.5vh;
    width: 3.5vh;
  }
  
  .slider::-moz-range-thumb {
    width: 4vh;
    height: 4vh;
    background: #ffaa5e;
    cursor: pointer;
  }

  

#cadre{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 512px;
    height: 512px;

    overflow: hidden;
    perspective: 1vh;

    flex-basis: 1;
    background-color: #ffecd6;
    box-shadow: 0.25vh 0.25vh 1vh black;
    margin: 10vh;
    min-width: 512px;
}
.menu{
    display: flex;
    position: relative;

    flex-wrap: wrap;
    flex-direction: column;
    width: 10vh;
    gap: 4vh;
    margin: 2vh;
    align-items: left;
    justify-content: center;
    text-align: center;
}

button{
    background-color: #8d697a; /* Green */
    border: none;
    color: #ffecd6;
    padding: 1.5vh 4vh;
    border-radius: 0.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0.25vh 0.25vh 0.25vh black;
    font-size: 2vh;
}
button:hover {
    background-color: #d08159;
    cursor: pointer;
  }
button:active {
    background-color: #d08159;

    transform: translateY(4px);
  }

.toggled {
    background-color: #d08159;   
}

@media only screen and (max-width: 768px){
    .title{
        padding: 2vh;   
    }
    #cadre{
        width: 384px;
        height: 384px;   
        min-width: 384px;
        margin: 2vh;
    }
    .global-container{
        flex-direction: column;
    }
    .menu{

        flex-direction: row;
        width: 60vh;
    }    
    .grid-container{
        width: 40vh;
        flex-direction: row;
        gap: 10vh;
        height: auto;
        justify-content: center;

    }
      .slide-container{
        width: 10vh;
        transform: rotate(0deg);
        position:initial;
    }
}